<header class="main-nav">
	<nav class="right-nav">
		<ul>
			<li>
				<button>SUBSCRIBE NOW</button>
			</li>
			<li>
				<button>LOG IN</button>
			</li>
			<li>
				<i class="fas fa-cog"></i>
			</li>
		</ul>
	</nav>
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>SECTIONS</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>SEARCH</span>
			</li>
		</ul>
	</nav>
</header>