<header class="masthead"> 
  <nav class="language-nav">
    <ul>
      <li> 
        <a href="#">CSS</a>
      </li> 
      <li>  
        <a href="#">HTML</a>
      </li> 
      <li>  
      <a href="#">Javascript</a>
      </li> 
      <li> 
      <a href="#">Ruby</a>
      </li> 
    </ul>
  </nav>

  <img class="logo" src="assets/AA_Times_Logo.png"/>

  <ul class="masthead-links">
    <li>
      Tuesday, October 18, 2016  
    </li>
    <li>
      <i class="far fa-newspaper"></i>
      <a href="#">Today’s Paper </a>
    </li>
    <li>
      <i class="fas fa-video"></i>
      <a href="#">Video</a>  
    </li>
    <li>
      77°F  
    </li>
    <li>
      AAO <strong> +100% </strong>
    </li>
  </ul>


</header>