<nav class="sections-nav">
  <ul class="sections-nav-items">
    <li>
      <a href="#">World</a>
    </li>
    <li>
      <a href="#">San Francisco</a>
    </li>
    <li>
      <a href="#">New York</a>
    </li>
    <li>
      <a href="#">Boot Camp Prep</a>
    </li>
    <li>
      <a href="#">Jump Start</a>
    </li>
    <li>
      <a href="#">Online</a>
    </li>
    <li>
     <a href="#">Marketing</a>
    </li>
    <li>
      <a href="#">Sales</a>
    </li>
    <li>
      <a href="#">Talent Match</a>
    </li>
    <li>
      <a href="#">Alumni</a>
    </li>
    <li>
      <a href="#">All</a>
    </li>
  </ul>
</nav>


